:root{
    --primary-color: #FF8904;
    --secondary-color: #FF6900;
    --orange-pastel: #FFD6A7;
    --color-white: #FFF;
    --color-gray: #F5F6FA;
    --color-title: #313131;
    --color-text: #4A5565;
}
